body{
    background-position: center;
    background-size: cover;
}

.heading{
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 43px;
    width: 100%;
    margin: 0px;
    color: black;
    text-shadow: 1px 1px 30px white;
    letter-spacing: 2px;
}

#status{
    font-size: 18px;
}

#names{
    width: 30%;
    height: 5%;
    background-image: linear-gradient(to bottom right, #eddffc , #ce9ff2); 
    font-size: 20px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
}

canvas{
    box-shadow: 2px 2px 30px white;
    border-radius: 30px;
    margin-top: 20px;
}

a{
    color: black;
}

#back{
    float: right;
    margin: 20px;
    height: 5%;
    width: 7%;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

canvas{
    box-shadow: 2px 2px 30px grey;
    border-radius: 30px;
    margin-top: 45px;
}